!!!
%html
  %head
    %title Objspace Viewer
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/screen.css', media: 'screen'}/
  %body
    %header
      %h1 Objspace Viewer

    %section
      != yield
